
<h1>Create role</h1>

<div class="Wrapper">
    <div class="FullWidth50" id="first">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label class="control-label">Role name:</label>
                <input type="text" name="name" class="form-control">
            </div>

            <input type="submit" value="Save role" />
        </form>
        </div>
</div>