@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
    <h2>Roles</h2>
    <div>
        <a asp-action="Create">Create new role</a>&nbsp;&nbsp; | &nbsp;&nbsp; <a asp-action="ConnectUserToRole">Add user to role</a>
    </div>
    <div class="Wrapper">
        <div class="FullWidth50" id="first">
            <table class=" table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Id</td>
                    </tr>
                }
            </table>
        </div>

        <div id="spacer">
            &nbsp;
        </div>

        <div class="FullWidth50" id="second">

        </div>
    </div>