@model IEnumerable<Person>

    <table class=" table table-striped">
        <tr>
            <th>Name</th>
            <th>Languages</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    Speaks: @foreach (var lang in Model.PersonLanguage)
                    { lang.Language}
                    </td>
            </tr>
        }
    </table>

        <form asp-controller="People" asp-action="IsSpeaking" method="post" role="form">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label">People: </label>
                <select name="personId" class="form-control" asp-items="ViewBag.People">
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Languages: </label>
                <select name="languageId" class="form-control" asp-items="ViewBag.Languages">
                </select>
            </div>
            <div class="mb-3">
                <span class="text-danger">@ViewBag.Message</span>
            </div>
            <button type="submit" class="btn btn-primary">Save connection</button>
        </form>
